# Set the default line endings behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files to be converted to native line endings on checkout
*.ts    text
*.tsx   text
*.css   text
*.json  text
*.sh    text
*.html  text
*.txt   text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico