.user-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Add margin to all children of the sign in button */
.sign-in-button * {
  margin: 0.25em;
}
