.content {
  grid-area: Content; /* parent grid defined in: App.css .app-container */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "Editor Simulator"
    "Editor Control-Panel"
    "JSVM    JSVM";
}
