.control-hub-log {
  grid-area: ControlHubLog;
  background-color: #c8e6c9;
  /* making the overflow hidden allows us to properly handle both shrinking, and expanding
     the height of the <canvas> element. See RobotSimulator::onresize();
   */
  overflow: hidden;
}
