.menu-bar {
  grid-area: Menu-Bar;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px 1px #ccc;
  padding-left: 1em;
  padding-right: 1em;
}

.menu-bar--brand {
  /* 30px */
  height: 1.875em;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}
