.challenge-view--header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1280px;
  border-bottom: 2px solid black;
}

.challenge-view--header > a {
  margin: 2px;
}

.challenge-view--header > h2 {
  margin: 2px;
}

.challenge-view--footer {
  margin: 2px;
}
