.simulator-view {
  display: flex;
  flex-direction: row;

  overflow: hidden;
  width: 100%;

  flex: 1;
}

.simulator-view--panel {
  display: flex;
  flex-direction: column;

  margin: var(--normal-margin);
}

.simulator-view--panel__main {
  flex: 4;
}

.simulator-view--panel__utility {
  flex: 1;
}

.simulator-view--panel {
  display: flex;
  flex-direction: column;
}

/* Left Panel */
.simulator-view--panel:nth-child(1) {
  flex: 2;
}

/* Right Panel */
.simulator-view--panel:nth-child(2) {
  flex: 2;
}
