.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 35%;
  width: 35%;
  height: 80px;
  transform: translate(0px, 40px);
  transition: transform 0.25s ease-in-out;
}

.toolbar:hover {
  transform: translate(0px, 0px);
}

.toolbar .btn {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  text-align: center;

  /* Buttons should expand to take up the entire space equally */
  width: 100%;
  height: 100%;

  /* remove margin as there is no hover border */
  margin-bottom: 0px;

  border-top: 2px solid black;
}

/* Left Border of Toolbar */
.toolbar .btn:first-child {
  /* Left Corner */
  border-radius: var(--border-radius) 0px 0px 0px;
}

.toolbar .btn:last-child {
  /* Right Corner */
  border-radius: 0px var(--border-radius) 0px 0px;
}

/* Remove Default Button Hover */
.toolbar .btn:hover {
  background-color: var(--success-color);
  border-bottom: none;
}

/* Dashed Border Between Each Button */
.toolbar .btn + .btn {
  border-left: 2px dashed black;
}

/* Make the Buttons Silly */
.toolbar .btn:nth-child(n):hover {
  transform: rotate(1.5deg);
}

.toolbar .btn:nth-child(2n):hover {
  transform: rotate(-1.4deg);
}

.toolbar .btn:nth-child(3n):hover {
  transform: rotate(0.7deg);
}

.toolbar .btn:nth-child(4n):hover {
  transform: rotate(-1deg);
}
