@import url(normalize.css);

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--lineheight-text);
  color: var(--color-text-default);
  background-color: var(--color-blue-light);
}
