.blockly-workspace {
  /* position set to absolute so this element dont't contribute to overall height calculation */
  position: absolute;
}

.blockly-workspace.executing {
  cursor: not-allowed;
}

.blockly-workspace.executing:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d8ff002e;
  z-index: 1;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0.75em;
  background-color: #f5f5f5;
}
